/* width + shape */
::-webkit-scrollbar {
  width: 10px; /* or whatever */
}

/* track (background groove) */
::-webkit-scrollbar-track {
  background: #ffffff; /* track colour */
}

/* handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #ffffff; /* thumb colour */
  border-radius: 10px;
}

/* optional: hover state */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

/* firefox */
* {
  scrollbar-width: thin; /* auto / thin / none */
  scrollbar-color: #ffffffe9 #ffffff31; /* thumb colour then track colour */
}
   
   
   * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


:root {
	--accent: rgb(220, 19, 19);
	--accent-dark: #000000;
	--black: 15, 18, 25;
	--gray: white;
	--gray-light: 229, 233, 240;
	--gray-dark: white;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
}

@font-face {
	font-family: 'NanumGothicCoding', sans-serif;
	src: url('/fonts/NanumGothicCoding-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


.fav{
    max-width: 75px;
}

body {
	font-family: 'NanumGothicCoding', sans-serif;
	margin: 0;
	padding: 0;
	background: #3700ff;
	color: rgb(212, 211, 211);
	font-size: 18px;
	line-height: 1.7;
	text-align: right;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

main {
	width: 1000px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
	font-family: 'NanumGothicCoding', sans-serif;
}

h1 { font-size: 7rem; color: rgb(238, 238, 238); 
     font-weight: lighter;}
h2 { font-size: 3rem; color: rgb(238, 238, 238);
font-weight: lighter; }
h3 { font-size: 3rem; color: rgb(238, 238, 238);      font-weight: lighter;}
h4 { font-size: 1.563em; color: rgb(238, 238, 238);  font-weight: lighter;}
h5 { font-size: 1.25em; }

strong, b { font-weight: 700; }

a, a:hover { color: var(--accent); }

p, .prose p { margin-bottom: 1em; color: #d8d8d8; }

textarea, input { font-size: 16px; }

table, img { width: 100%; }
img { height: auto; border-radius: 8px; }

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code { all: unset; }

blockquote {
	border-left: 4px solid var(--accent);
	padding-left: 20px;
	font-size: 1.333em;
	margin: 0;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body { font-size: 18px; }
	main { padding: 1em; }
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
